/*
--------------------------------------------
------------MOBILE FIRST DESIGN-------------
--------------------------------------------
*/

body {
    color: #000000;
}

[class *="col-"]{
width: 100%;
}

/*
--------------------------------------------
---------------NAVBAR STYLES----------------
--------------------------------------------
*/

#navbar {
    background-color: #000000;
    color: #ffffff;
}

a {
    color: #ffffff;
}

.navbar {
    display: none;
}
/* sidebar icon */
.l{
border-top: #ffffff 0.2em solid;
}
.nav{
width: 1.5em;
padding-bottom: 0.3em;
transition: 0.6s;
}
.nav2{
width: 1.5em;
padding-bottom: 0.3em;
transition: 0.6s;
}
.nav3{
width: 1em;
}
.sidebar{
margin-left: 65%;
padding-top: 2em;
}
.hidden-nav{
display: none;
}

.l1{
width: 1.5em;
padding-bottom: 0.3em;
transform: rotate(47deg) translate(0.15em);
transition: 0.6s;
}
.l2{
width: 1.5em;
padding-bottom: 0.3em;
transform: rotate(-50deg) translate(0.48em);
transition: 0.6s;
}
.l3{
display: none;
transition: 0.6s;
}

/*
--------------------------------------------
-------------DROPDOWN STYLES----------------
--------------------------------------------
*/
.dropdown-content {
    display: block;
    position: absolute;
    background: #ffffff center center fixed;
    color: #000000;
    width: 100%;
    height: 100%;
    padding: 0.8em 1em;
    z-index: 1;
}

.dropdown-content > div {
    text-align: center;
}

.dropdown-content > div > div > a{
    line-height: 3em;
    padding: 1em;
    color: #000000;
    padding: 0.8em 5em 0.8em 1em;

}
.dropdown-content > div > div > a:hover{
    background-color: #dbdbdb;
}


/*
--------------------------------------------
---------------iTYPED STYLES----------------
--------------------------------------------
*/
.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}
 
@keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}

.header {
    color: #000000;
    font-weight: bold;
    text-align: justify;
    border-radius: 0.875em;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.welcome {
    align-self: center;
}

.welcome-text {
    display: none;
}

.welcome-image {
    width: 25.625em;
    height: 30.688em;
    margin-bottom: 0em;
    align-self: center;
    justify-content: center;
}

.auto-type {
    display: none;
}

.service-days-header {
    color: #000000;
    font-weight: bold;
    text-align: center;
}


/*
--------------------------------------------
----------------SERVICE CARD----------------
--------------------------------------------
*/

.service-card {
    background-color: #f4f4f4;
    border-radius: 3.125em;
    margin-left: 2.188em;
    margin-bottom: 0.625em;
    width: 20.375em;
    height: 29.75em;
    align-content: center;
}

.service-card-img {
    width: 100%;
    height: 11.25em;
    border-radius: 3.125em 3.125em 0em 0em;
}

.service-time {
    float: right;
    background-color: #d60808;
    color: #ffffff;
    padding: 0.313em 1.25em 0.313em 1.25em;
}

.dot {
    background-color: #873b72;
    width: 0.625em;
    height: 0.625em;
    border-radius: 50%;
    margin: 0.5em 0.5em 0em 0.5625em;
}

.service-type {
    display: inline-flex;
    flex-direction: row;
    margin-left: 0.313em;
    margin-top: 0.313em;
    font-size: 1.25em;
    font-weight: 400;
}

.service-phrase {
    font-size: 1.5em;
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.125em;
}

.service-host-logo {
    border-radius: 3.125em;
    padding: 0.625em;
    width:  6.125em;
    height: 4.75em;
    margin-bottom: 0em;
}

.service-card-div {
    width: 87%;
    height: 0.063em;
    background-color: #000000;
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-bottom: 0.625em;
}

.service-interact {
    width: 100%;
    display: table;
}

.service-attend {
    width: 2.563em;
    height: 2.563em;
    margin-left: 1.875em;
}

.service-inquire {
    width: 2.563em;
    height: 2.563em;
    float: right;
    margin-right: 2.5em;
}


/*
--------------------------------------------
----------------TABLET VIEW-----------------
--------------------------------------------
*/
@media only screen and (min-width: 48em){
.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}

.navbar {
    font-size: 1em;
    display: flex;
}

.sidebar {
    display: none;
}

.auto-type {
    align-self: center;
    display: block;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
}

.welcome-text {
    display: block;
    font-weight: bold;
    font-size: 3em;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
}

}


/*
--------------------------------------------
---------------DESKTOP VIEW-----------------
--------------------------------------------
*/
@media only screen and (min-width: 62em){
.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}

.sidebar{
    display: none;
}

.auto-type {
    align-self: center;
    display: block;
    font-weight: bold;
    font-size: 1.5em;
}

.welcome-text {
    display: block;
    font-weight: bold;
    font-size: 3em;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

}