/*
--------------------------------------------
--------------RESPONSIVE DESIGN-------------
--------------------------------------------
*/

body {
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

[class *="col-"]{
width: 100%;
}

/*
--------------------------------------------
---------------NAVBAR STYLES----------------
--------------------------------------------
*/


/*
--------------------------------------------
---------------iTYPED STYLES----------------
--------------------------------------------
*/
.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}
 
@keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}

/*
--------------------------------------------
---------------HEADER STYLES----------------
--------------------------------------------
*/


.header {
    color: #000000;
    font-weight: bold;
    text-align: justify;
    border-radius: 0.875em;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.welcome {
    align-self: center;
}

.welcome-text {
    display: none;
}

.welcome-image {
    width: 25.625em;
    height: 30.688em;
    margin-bottom: 0em;
    align-self: center;
    justify-content: center;
}

.auto-type {
    display: none;
}

.headers {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(66,8,97,1) 0%, rgba(112,8,69,1) 55%, rgba(114,8,68,1) 56%, rgba(146,8,49,1) 77%, rgba(187,8,24,1) 100%, rgba(214,8,8,1) 100%, rgba(0,212,255,1) 100%);
    padding: 0.5em;
    margin-left: 25%;
    margin-right: 25%;
    border: 0.2em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-style: groove;
    border-color: aqua;
    color: #000000;
    font-weight: bold;
    color: #ffffffbb;
    text-align: center;
}


/*
--------------------------------------------
----------------SERVICE CARD----------------
--------------------------------------------
*/

.service-card {
    background-color: #f4f4f4;
    border-radius: 3.125em;
    margin-left: 2.188em;
    margin-bottom: 0.625em;
    width: 20.375em;
    height: 29.75em;
    align-content: center;
}

.service-card-img {
    width: 100%;
    height: 11.25em;
    border-radius: 3.125em 3.125em 0em 0em;
}

.service-time {
    float: right;
    background-color: #d60808;
    color: #ffffff;
    padding: 0.313em 1.25em 0.313em 1.25em;
}

.dot {
    background-color: #873b72;
    width: 0.625em;
    height: 0.625em;
    border-radius: 50%;
    margin: 0.5em 0.5em 0em 0.5625em;
}

.service-type {
    display: inline-flex;
    flex-direction: row;
    margin-left: 0.313em;
    margin-top: 0.313em;
    font-size: 1.25em;
    font-weight: 400;
}

.service-phrase {
    font-size: 1.5em;
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.125em;
}

.service-host-logo {
    border-radius: 3.125em;
    padding: 0.625em;
    width:  6.125em;
    height: 4.75em;
    margin-bottom: 0em;
}

.service-card-div {
    width: 87%;
    height: 0.063em;
    background-color: #000000;
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-bottom: 0.625em;
}

.service-interact {
    width: 100%;
    display: table;
}

.service-attend {
    width: 2.563em;
    height: 2.563em;
    margin-left: 1.875em;
}

.service-inquire {
    width: 2.563em;
    height: 2.563em;
    float: right;
    margin-right: 2.5em;
}

/*
--------------------------------------------
----------------MINISTRY CARD---------------
--------------------------------------------
*/
.ministry-cards {
    margin-left: 2.188em;
    margin-bottom: 0.625em;
}

.ministry-card {
    background-color: #f4f4f4;
    border-radius: 3.125em;
    /* margin-left: 2.188em; */
    margin-bottom: 0.625em;
    width: 20.375em;
    height: 29.438em;
    align-content: center;
}

.ministry-card-img {
    width: 55%;
    margin-left: 25%;
    margin-right: 25%;
    height: 11.25em;
}

.ministry-page {
    float: right;
    background-color: #0d0250;
    color: #ffffff;
    padding: 0.313em 1.25em 0.313em 1.25em;
}

.ministry-phrase {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2.313em;
    text-align: center;
    margin-bottom: 0.125em;
}

.ministry-caption {
    text-align: center;
}

.ministry-card-div {
    width: 87%;
    height: 0.063em;
    background-color: #000000;
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-bottom: 0.625em;
}

.ministry-interact {
    width: 100%;
    display: table;
}

.ministry-superior {
    width: 2.563em;
    height: 2.563em;
    margin-left: 1.875em;
}

.ministry-inquire {
    width: 2.563em;
    height: 2.563em;
    float: right;
    margin-right: 2.5em;
}



/*
--------------------------------------------
------------------VIEWS---------------------
--------------------------------------------
*/

/* Smartphones (extremely small devices) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
    .menu-tabs {
        display: none;
    }
    
    .menu-icon {
        margin-left: 75%;
    }
}

/* Smartphones (small devices) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
    .menu-tabs {
        display: none;
    }
    
    .menu-icon {
        margin-left: 75%;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
    .menu-tabs {
        display: none;
    }
    
    .menu-icon {
        margin-left: 75%;
    }
}

/* Smartphones (popular mobile devices) ----------- */
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
    .menu-tabs {
        display: none;
    }
    
    .menu-icon {
        margin-left: 80%;
    }
}
    
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
    .menu-tabs {
        display: none;
    }
    
    .menu-icon {
        margin-left: 80%;
    }
}

/* Smartphones (medium devices) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
    
    .menu-tabs {
        display: block;
    }

    .menu-icon {
        display: none;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
    .menu-tabs {
        display: block;
    }

    .menu-icon {
        display: none;
    }
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1025px) {
/* Styles */
    .menu-icon {
        display: none;
    }

    .menu-tabs {
        display: block;
    }

    .welcome-text {
        display: block;
        font-weight: bold;
        font-size: 3em;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }

    .ministry-cards {
        margin-left: 18%;
        margin-right: 15%;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1201px) {
/* Styles */
    .menu-icon {
        display: none;
    }

    .menu-tabs {
        display: block;
    }

    .welcome-text {
        display: block;
        font-weight: bold;
        font-size: 3em;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }

    .ministry-cards {
        margin-left: 18%;
        margin-right: 15%;
    }
}